ETHEREUM_RPC_URL=https://eth.llamarpc.com
BSC_RPC_URL=https://bsc-rpc.publicnode.com
POLYGON_RPC_URL=https://polygon-bor-rpc.publicnode.com
ARBITRUM_RPC_URL=https://arbitrum-one-rpc.publicnode.com
ETHEREUM_EXPLORER_API_URL=https://api.etherscan.io/v2/api
ETHEREUM_BLOCKSCOUT_API_URL=https://eth.blockscout.com/api/v2
BSC_EXPLORER_API_URL=https://api.etherscan.io/v2/api
BSC_BLOCKSCOUT_API_URL=
POLYGON_EXPLORER_API_URL=https://api.etherscan.io/v2/api
POLYGON_BLOCKSCOUT_API_URL=
ARBITRUM_EXPLORER_API_URL=https://api.etherscan.io/v2/api
ARBITRUM_BLOCKSCOUT_API_URL=https://arbitrum.blockscout.com/api/v2
EXPLORER_API_KEY=
BITCOIN_API_URL=https://blockstream.info/api
BLOCKCHAIN_DATA_DIR=./blockchain_engine/data
MAX_RPC_SCAN_BLOCKS=250
REQUEST_RETRIES=3
REQUEST_BACKOFF_SECONDS=1.0
